// Primary colors

$primary-1: #0052D4;
$primary-2: #FB8614;
$primary-3: #903749;
$primary-4: #53354A;

// Secondary colors

$secondary-1: #4583E5;
$secondary-2: #F9EBC8;
$secondary-3: #DAE5D0;
$secondary-4: #F9F3DF;
$secondary-5: #CEE5D0;
$secondary-6: #E8F6EF;
$secondary-7: #DDDDDD;
$secondary-8: #F9F3F3;
$secondary-9: #E8FCF8;
$secondary-10: #FAF0E6;
$secondary-11: #4285F4;

// Black colors

$black-1000: #090920;
$black-900: #424254;
$black-800: #45484D;
$black-700: #5C6066;
$black-600: #737880;
$black-500: #8A9099;
$black-400: #A4AAB3;
$black-300: #C0C5CC;
$black-200: #D0D4D9;
$black-100: #E4E6E9;

// White colors

$white-100: #FFFFFF;
