.gallery {
    @include padding(75px,0px,150px,0px);
    h3 {
        @include font($base-font,$heading-2,$font-weight-3,$line-height-2);
        margin-bottom: 70px;
        color: $black-1000;
    }
    &__block {
        .lb-item {
            border-top: 10px solid #fff;
            border-right: 10px solid #fff;
        }
        .lb-modal {
            .lb-modal-close {
                background: transparent !important;
                border: transparent !important;
            }
            .btn {
                border-radius: 2px !important;
            }
            .btn:hover {
                background: $secondary-1 !important;
                border-radius: 2px !important;
            }
        }        
    }
}

// Media Queries: 992 +

$min-width-992: 992px;

@media (min-width: $min-width-992) {
    .gallery {
        &__block {
            .h-lg-600 {
                height: 45rem !important;
            }
        }
    }    
}

// Media Queries: 768px - 991px

$min-width-768: 768px;
$max-width-991: 991px;

@media (min-width: $min-width-768) and (max-width: $max-width-991) {
    .gallery {
        @include padding(70px,0px,70px,0px);
        &__block {
            .h-md-400 {
                height: 25.2rem !important;
            }            
        }
    }
}

// Media Queries

$max-width: 767px;

@media (max-width: $max-width) {
    .gallery {
        @include padding(35px,0px,35px,0px);
        h3 {
            @include font($base-font,35px,$font-weight-3,40px);
            margin-bottom: 30px;
        }
        &__block {
            .h-250 {
                height: 15.75rem !important;
            }            
        }
    }
}