// Base font

$base-font: 'Jost', sans-serif;
$base-font-size: 16px;

// Headings

$heading-1: 56px;
$heading-2: 48px;
$heading-3: 36px;
$heading-4: 24px;
$heading-5: 20px;
$heading-6: 16px;

// Line height

$line-height-1: 61.60px;
$line-height-2: 55.68px;
$line-height-3: 46.08px;
$line-height-4: 32.16px;
$line-height-5: 28.00px;
$line-height-6: 22.40px;

//  Weight

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 600;
$font-weight-4: 700;

