.whyopensofttech {
    background: linear-gradient(161.33deg, #FAF3E6 5.1%, #F5FFFB 96.03%);
    @include padding(150px,0px,150px,0px);
    &__ornament1 {
        left: 0;
        top: 455px;
    } 
    &__ornament2 {
        top: 0;
        right: 25px;
    }
    &__ornament3 {
        top: 435px;
        right: 70px;
    }
    &__ornament4 {
        top: 1000px;
        right: 90px;
    }
    &__ornament5 {
        top: 1370px;
        right: 120px;
    }  
    &__ornament6 {
        top: 1260px;
        left: 100px;
    }            
}

// Media Queries: 768px - 991px

$min-width-768: 768px;
$max-width-991: 991px;

@media (min-width: $min-width-768) and (max-width: $max-width-991) {
    .whyopensofttech {
        @include padding(70px,0px,0px,0px);
    }
}

// Media Queries: 1400px - 1800px

$min-width-1400: 1400px;
$max-width-1800: 1800px;

@media (min-width: $min-width-1400) and (max-width: $max-width-1800) {
    .whyopensofttech {
        &__ornament3 {
            top: 435px;
            right: 30px;
            width: 170px;
        }        
    }
}

// Media Queries

$max-width: 767px;

@media (max-width: $max-width) {
    .whyopensofttech {
        @include padding(35px,0px,35px,0px);
    }
}